
{% load static %}

    <div class="modal fade" id="joinUsModal" tabindex="-1" role="dialog" aria-labelledby="joinUsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modalphone" role="document" style="max-width: 50%; font-family: Helvetica">
      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button> -->
      <div class="modal-content" style="">

          <div class="modal-body" style="padding: 0px">
              <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12" style="padding: 0px">
                      <img src="{% static 'images/joinmodal.jpg' %}" class="modalimg" height="472px" style="max-width: 100%; margin: 0px" alt="">
                    </div>
                    <div class="col-lg-8 col-md-12" style="text-align: center; background-color: ">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color: #000">&times;</span></button>
                      <h2 style="color: #079b78"><b>Be a Volunteer</b></h2>
                      <span class="form-group" >
                          <form method="post" >
                              {% csrf_token %}
                                  {{second_form.name}}
                                  {{second_form.city}}
                                  {{second_form.area}}
                                  {{second_form.pincode}}
                                  {{second_form.phone}}
                                  {{second_form.email}}
                                  {{second_form.insta}}
                            <br>
                            <input type="submit" name="" class="btn btn-outline-dark btn-md btn-block" id="joinUsButton" value="Join Us"/>
                            <br>
                            </form>

                      </span>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>